.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.gap-10 {
  gap: 10px;
}

.gap-18 {
  gap: 18px;
}

.gap-157 {
  gap: 157px;
}

.center-x {
  display: flex;
  justify-content: center;
}

.text-accent {
  color: #ff0000 !important;
}
.text-accent-2 {
  color: #1996a9 !important;
}

.text-center {
  text-align: center;
}

// fonts
.fz-1 {
  font-size: 10px;
}

.fz-2 {
  font-size: 24px;
}

.fz-3 {
  font-size: 32px;
}

.fz-4 {
  font-size: 40px;
}

.fw-semi {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.ff-helvetica {
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
}
