.header__grid {
  height: 80px;

  display: grid;
  grid-template-columns: 518px auto;
  gap: 40px;
  align-items: center;
}

.hero__grid {
  position: relative;
  display: grid;
  grid-template-columns: 518px auto;
  gap: 40px;
  align-items: center;
}

.grid-even {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
