.btn {
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 9px;
  border: none;

  &--blue {
    color: #fff;
    background-color: #1996a9;
  }

  &--green {
    color: #fff;
    background-color: #38d62d;
  }

  &--gray {
    display: block;
    height: 27px;
    font-size: 18px;
    color: #fff;
    background-color: #b6b6bb;
    border-radius: 6px;
    width: 115px;
    margin-inline: auto;
  }
}
