.btn {
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 9px;
  border: none;

  &--blue {
    color: #fff;
    background-color: #1996a9;
  }

  &--green {
    color: #fff;
    background-color: #38d62d;
  }

  &--gray {
    display: block;
    height: 27px;
    font-size: 18px;
    color: #fff;
    background-color: #b6b6bb;
    border-radius: 6px;
    width: 115px;
    margin-inline: auto;
  }
}

.coming-soon {
  margin-top: 46px;
  margin-bottom: 66px;
  margin-inline: auto;
  width: 111px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 6px 6px 6px hsl(0 0% 0% / 0.4);
  border-radius: 8px;
  color: #f1811f;
  border: 3px solid #f1811f;
}
