.cart {
  display: grid;
  grid-template-columns: auto 302px;
  gap: 60px;

  &__content {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      padding-inline: 20px;

      h2 {
        font-size: 20px;
      }
    }
  }

  &__headings {
    p {
      font-size: 20px;
      font-weight: 700;
      color: #000000;
    }
  }

  &__receipt {
    margin-bottom: 7px;
    padding: 17px 26px;
    background-color: #dfdfdf;
    font-size: 14px;

    &--white {
      background-color: #fff;
    }

    li {
      padding-block: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      color: hsl(0 0% 0% / 0.4);
      border-bottom: 1px solid #707070;

      &:first-child {
        border-top: 1px solid #707070;
      }

      .right {
        margin-left: auto;
      }

      &.filled {
        color: #000;
      }
    }
  }

  &__additional-info {
    margin-bottom: 9px;
    padding: 17px 26px;
    background-color: #dfdfdf;
    font-size: 11px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.cart-item {
  &__quantity {
    margin-inline: auto;
    padding: 10px 13px;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid #5e5e5e;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;

    span {
      font-size: 16px;
    }

    button {
      background: transparent;
      border: none;
      font-size: 16px;
    }
  }

  &__img {
    display: flex;
    padding-block: 40px;

    img {
      width: 193px;
      object-fit: contain;
      height: auto;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 700;
  }

  &__price,
  &__total {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding-inline: 20px;
    text-align: center;
  }

  &__remove {
    background-color: transparent;
    border: none;
  }
}

.cart-table {
  margin-top: 15px;
  padding-left: 60px;
  width: 100%;

  th {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
}

.cart-content-count-wrapper {
  position: relative;

  .cart-content-count {
    position: absolute;
    top: 11px;
    left: 32px;

    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}
