.footer {
  padding-top: 16px;
  color: #fff;
  background-color: #1996a9;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__top {
    margin-bottom: 12px;
    display: flex;
    gap: 40px;
  }

  &__left {
    flex-grow: 1;

    & > div:first-child {
      justify-content: space-between;
    }
  }

  &__right {
    flex: 0 0 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    address {
      font-size: 16px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 11px;

    li,
    a {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__distributors {
    display: flex;
    flex-direction: column;
    gap: 11px;

    h3,
    li {
      font-size: 16px;
    }
  }

  &__distributor {
    display: flex;
    gap: 15px;
    transform: translateY(-4px);

    p {
      margin-top: 10px;
      font-size: 14px;
      text-align: right;
    }
  }

  &__dzala-copy {
    margin-bottom: 33px;
    display: flex;
    gap: 12px;
    transform: translateY(-4px);

    p {
      margin-top: 8px;
      font-size: 14px;
      text-align: right;
    }
  }

  &__copy {
    margin-top: 58px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;

    & > *:not(:last-child) {
      position: relative;
      margin-right: 20px;
      padding-right: 20px;

      &::after {
        content: '|';
        position: absolute;
        right: 0;
        font-weight: 400;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__bottom {
    display: flex;

    p {
      padding: 13px;
      background-color: #5e5e5e;
      font-size: 16px;
      color: #ffffff;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 318px;
      font-size: 27px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      background-color: #000;
    }
  }

  .news-badge + ul {
    a {
      display: block;
      filter: drop-shadow(5px 5px 5px hsl(0 0% 0% / 0.5));
    }
  }
}

address {
  font-style: normal;
}
