.header {
  margin-bottom: 30px;
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 100000;
  }

  &__top {
    background-color: #ffdc00;

    .container {
      height: 80px;

      display: grid;
      grid-template-columns: 518px auto;
      gap: 40px;
      align-items: center;
    }
  }

  &__bottom {
    background-image: linear-gradient(to bottom, hsl(0 0% 100%) 50%, hsl(0 0% 100% / 0.9), hsl(0 0% 100% / 0.7), hsl(0 0% 100% / 0));

    .container {
      position: relative;
      display: grid;
      grid-template-columns: 518px auto;
      gap: 40px;
    }

    p {
      margin-top: 14px;
    }
  }

  &__social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: #2b2e34;
  }
}

.lang {
  position: absolute;
  top: 7px;
  right: -61px;
}
