/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

button {
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"), url("../fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "FiraGO", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

.hero__grid .col-1 {
  height: 100%;
}
.hero__grid .col-1 img {
  height: 100%;
  object-fit: cover;
}

.dzala-copy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.download-manual {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  color: #f1811f;
  text-align: left;
  text-decoration: none;
  line-height: 22px;
}

.scroll-to-top {
  margin-block: 40px 50px;
  margin-inline: auto;
  display: block;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
}

.stop-covid p {
  margin-top: -110px;
}

.news {
  position: relative;
  padding-block: 30px 26px;
  background-color: #1996a9;
}
.news .news-badge {
  position: absolute;
  left: 50%;
  top: -9px;
  transform: translateX(-72%) rotate(15deg);
}
.news__text-container {
  padding: 13px;
  width: 518px;
  background-color: #fff4df;
}
.news__text-container p {
  font-size: 15px;
  font-family: "Helvetica", sans-serif;
}
.news__text-container > * + * {
  margin-top: 8px;
}
.news__social {
  align-self: flex-end;
}
.news__social p {
  color: #fff;
}
.news__social ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.news__social ul a {
  display: block;
  filter: drop-shadow(5px 5px 5px hsla(0deg, 0%, 0%, 0.5));
}
.news__videos {
  display: flex;
  gap: 26px;
}
.news__videos .video-placeholder,
.news__videos iframe {
  margin-top: 20px;
  width: 100%;
  height: 138px;
  object-fit: cover;
}
.news__videos .video-placeholder {
  background-color: #dfdfdf;
}
.news .video {
  width: 246px;
}
.news .video__title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.news .video img {
  margin-left: auto;
}

.news-badge {
  width: 192px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  color: #ff0000;
  background-color: #ffdc00;
  border-radius: 6px;
  box-shadow: 5px 5px 5px hsla(0deg, 0%, 0%, 0.5);
}

.dzala-copy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.dzala-copy p {
  text-align: right;
}

.dzala-copy-alt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.dzala-copy-alt p {
  font-size: 14px;
  text-align: right;
}

.text-block {
  padding: 23px 24px;
  background-color: #fff4df;
  box-shadow: 10px 10px 8px hsla(0deg, 0%, 0%, 0.5);
}
.text-block p {
  font-size: 20px;
}
.text-block > * + * {
  margin-top: 20px;
}

.about-inner {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 388px auto;
  gap: 40px;
}
.about-inner figcaption {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.find-out-more {
  margin-top: auto;
}
.find-out-more h4 {
  height: 33px;
  font-size: 28px;
  text-align: center;
  color: #ffdc00;
  background-color: #1996a9;
}

.banner__texts {
  margin-top: -35px;
  position: relative;
}
.banner__texts div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner__texts img {
  position: absolute;
  right: 0;
  top: 0;
}

.add-to-cart {
  margin-top: 35px;
}

.item {
  display: flex;
  gap: 33px;
}
.item__img {
  position: relative;
  width: 495px;
  display: flex;
  justify-content: flex-end;
}
.item__img img {
  width: 411px;
  height: auto;
}
.item__img .badge {
  position: absolute;
  top: 0;
  left: 0;
}
.item__name {
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.item__price {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #1996a9;
}
.item__price s {
  color: #5e5e5e;
}
.item__quantity {
  margin-bottom: 25px;
  padding: 10px 25px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid #5e5e5e;
  border-radius: 11px;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
.item__quantity span {
  font-size: 24px;
}
.item__quantity button {
  background: transparent;
  border: none;
  font-size: 24px;
}
.item__ctas {
  margin-bottom: 67px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.item__ctas button {
  width: 181px;
}

.badge {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding-inline: 28px;
  color: #fff;
  background-color: #f1811f;
  border-radius: 8px;
}

.divider {
  background-color: #1996a9;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
.divider a {
  color: inherit;
  text-decoration: none;
}

.recommended {
  margin-block: 30px 33px;
  display: flex;
  justify-content: space-between;
}
.recommended__one {
  display: flex;
  align-items: center;
  gap: 26px;
}
.recommended__one p {
  max-width: 420px;
}
.recommended__two {
  display: flex;
  align-items: center;
  gap: 33px;
}
.recommended__two p {
  max-width: 394px;
}

.use-adults {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.use-adults div {
  display: flex;
  gap: 12px;
}
.use-adults div p {
  padding-top: 10px;
  font-size: 20px;
}

.use-kids {
  margin-block: 40px 30px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.use-kids div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.use-kids div p {
  font-size: 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.gap-10 {
  gap: 10px;
}

.gap-18 {
  gap: 18px;
}

.gap-157 {
  gap: 157px;
}

.center-x {
  display: flex;
  justify-content: center;
}

.text-accent {
  color: #ff0000 !important;
}

.text-accent-2 {
  color: #1996a9 !important;
}

.text-center {
  text-align: center;
}

.fz-1 {
  font-size: 10px;
}

.fz-2 {
  font-size: 24px;
}

.fz-3 {
  font-size: 32px;
}

.fz-4 {
  font-size: 40px;
}

.fw-semi {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.ff-helvetica {
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.header {
  margin-bottom: 30px;
}
.header.sticky {
  position: sticky;
  top: 0;
  z-index: 100000;
}
.header__top {
  background-color: #ffdc00;
}
.header__top .container {
  height: 80px;
  display: grid;
  grid-template-columns: 518px auto;
  gap: 40px;
  align-items: center;
}
.header__bottom .container {
  position: relative;
  display: grid;
  grid-template-columns: 518px auto;
  gap: 40px;
}
.header__bottom p {
  margin-top: 23px;
}
.header__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__title {
  font-size: 28px;
  font-weight: 600;
  color: #2b2e34;
}

.lang {
  position: absolute;
  top: 7px;
  right: -61px;
}

.nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3px;
}
.nav__item {
  flex: 1 0 auto;
}
.nav__link {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(to bottom, hsla(210deg, 1%, 63%, 0.56), hsla(0deg, 0%, 78%, 0.45), hsla(0deg, 0%, 87%, 0.39));
  border-radius: 0 0 10px 10px;
}
.nav__link:hover, .nav__link.active {
  background-image: linear-gradient(to top, #ffdc00, #c1a600);
}

.product {
  position: relative;
  text-align: center;
}
.product__img {
  position: relative;
  height: 467px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 111px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 6px 6px 6px hsla(0deg, 0%, 0%, 0.4);
  border-radius: 8px;
}
.product__btn--block {
  color: #fff;
  background-color: #f1811f;
}
.product__btn--outline {
  color: #f1811f;
  border: 3px solid #f1811f;
  left: 50%;
  transform: translateX(-50%);
}
.product__content a {
  margin-top: 10px;
}
.product h2 {
  font-size: 30px;
  font-weight: 700;
  color: #1996a9;
}
.product h3 {
  font-size: 21px;
  font-weight: 700;
  color: #1996a9;
}
.product__group {
  position: absolute;
  right: 166px;
  bottom: 48px;
}
.product__group__like {
  position: absolute;
  left: 33px;
  bottom: 60px;
  width: 46px;
  height: 48px;
}
.product__group__like img {
  width: 46px;
  height: 48px;
}
.product__group__fb {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
}
.product__group__insta {
  position: absolute;
  bottom: 0;
  left: 64px;
  width: 40px;
  height: 40px;
}

.contact {
  margin-top: 41px;
  position: relative;
}
.contact__wrapper {
  width: 862px;
  margin-inline: auto;
  padding: 24px 32px;
  background-color: #b6b6bb;
  color: #fff;
}
.contact__wrapper h1 {
  margin-bottom: 16px;
  font-size: 35px;
  text-align: center;
}
.contact__wrapper p {
  margin-bottom: 33px;
  text-align: center;
}
.contact__wrapper p a {
  color: inherit;
  text-decoration: none;
}
.contact__info {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  font-size: 15px;
}
.contact__info p {
  text-align: right;
}
.contact__info a {
  display: inline;
  color: inherit;
  text-decoration: none;
}
.contact form > div {
  display: flex;
  gap: 24px;
}
.contact input,
.contact textarea {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  padding-inline: 10px;
  font-size: 15px;
  color: #000000;
  border: 2px solid #ffffff;
  background-color: #b6b6bb;
}
.contact input::placeholder,
.contact textarea::placeholder {
  font-size: 15px;
  color: #000000;
}
.contact input {
  height: 31px;
}
.contact textarea {
  height: 142px;
  padding-block: 6px;
}
.contact button {
  margin-inline: auto;
  display: block;
  width: 160px;
  height: 32px;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: none;
}

.btn {
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 9px;
  border: none;
}
.btn--blue {
  color: #fff;
  background-color: #1996a9;
}
.btn--green {
  color: #fff;
  background-color: #38d62d;
}
.btn--gray {
  display: block;
  height: 27px;
  font-size: 18px;
  color: #fff;
  background-color: #b6b6bb;
  border-radius: 6px;
  width: 115px;
  margin-inline: auto;
}

.cart {
  display: grid;
  grid-template-columns: auto 302px;
  gap: 60px;
}
.cart__content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-inline: 20px;
}
.cart__content__header h2 {
  font-size: 20px;
}
.cart__headings p {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.cart__receipt {
  margin-bottom: 7px;
  padding: 17px 26px;
  background-color: #dfdfdf;
  font-size: 14px;
}
.cart__receipt--white {
  background-color: #fff;
}
.cart__receipt li {
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: hsla(0deg, 0%, 0%, 0.4);
  border-bottom: 1px solid #707070;
}
.cart__receipt li:first-child {
  border-top: 1px solid #707070;
}
.cart__receipt li .right {
  margin-left: auto;
}
.cart__receipt li.filled {
  color: #000;
}
.cart__additional-info {
  margin-bottom: 9px;
  padding: 17px 26px;
  background-color: #dfdfdf;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__additional-info li {
  display: flex;
  justify-content: space-between;
}

.cart-item__quantity {
  margin-inline: auto;
  padding: 10px 13px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid #5e5e5e;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
.cart-item__quantity span {
  font-size: 16px;
}
.cart-item__quantity button {
  background: transparent;
  border: none;
  font-size: 16px;
}
.cart-item__img {
  display: flex;
  padding-block: 40px;
}
.cart-item__img img {
  width: 193px;
  object-fit: contain;
  height: auto;
}
.cart-item__name {
  font-size: 14px;
  font-weight: 700;
}
.cart-item__price, .cart-item__total {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding-inline: 20px;
  text-align: center;
}
.cart-item__remove {
  background-color: transparent;
  border: none;
}

.cart-table {
  margin-top: 15px;
  padding-left: 60px;
  width: 100%;
}
.cart-table th {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.order-details {
  position: relative;
  padding: 8px 30px;
  background-color: #fff4df;
  font-size: 14px;
}
.order-details__grid {
  display: grid;
  grid-template-columns: 279px 271px;
  justify-content: space-between;
}
.order-details__info {
  margin-top: 28px;
  margin-bottom: 17px;
  width: 279px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.order-details__info li {
  display: flex;
  justify-content: space-between;
}
.order-details .cart__receipt {
  font-size: 13px;
}
.order-details .cart__receipt li:last-child {
  padding-top: 23px;
  border-bottom: none;
}
.order-details a {
  color: #000000;
  text-decoration: none;
}

.order-details-label {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.box {
  margin-top: 6px;
  margin-bottom: 7px;
  width: 100%;
  background-color: #fff;
  padding: 6px 5px;
  font-size: 12px;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.box--name {
  height: 30px;
}
.box--address {
  height: 104px;
}
.box span {
  display: flex;
  gap: 6px;
}

.dzala-copy-3 {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.make-order h2 {
  margin-bottom: 28px;
  font-size: 20px;
}
.make-order form .flex {
  gap: 16px;
}
.make-order form .flex > * {
  flex: 0 0 calc(50% - 8px);
}
.make-order form button {
  display: block;
  margin-inline: auto;
  margin-top: 30px;
  width: 258px;
}
.make-order label {
  font-size: 14px;
  color: #000;
}
.make-order .form-group {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.make-order .form-group input {
  height: 30px;
}
.make-order .form-group textarea {
  height: 84px;
}
.make-order .form-group input,
.make-order .form-group textarea {
  font-size: 14px;
  border: 1px solid #707070;
}
.make-order .form-inline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 9px;
}
.make-order .form-inline .flex {
  width: 100%;
}
.make-order .form-inline input {
  flex: 0 0 122px;
  width: 122px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #707070;
}

.credit-card {
  margin-top: 17px;
}
.credit-card__heading {
  display: flex;
  justify-content: space-between;
}
.credit-card__heading h3 {
  font-size: 20px;
}
.credit-card__heading div {
  display: flex;
  gap: 10px;
}
.credit-card p {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
}

.voucher {
  display: grid;
  grid-template-columns: 327px 260px;
  gap: 175px;
  justify-content: end;
  align-items: start;
}
.voucher input {
  width: 327px;
  height: 40px;
  border: 1px solid #1996a9;
  border-radius: 6px;
  padding-inline: 10px;
}
.voucher__input {
  position: relative;
}
.voucher__input input {
  padding-inline-end: 130px;
  padding-inline-start: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #5e5e5e;
}
.voucher__input input::placeholder {
  font-size: 12px;
  font-weight: 700;
  color: #5e5e5e;
}
.voucher__input button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #1996a9;
  border: none;
  border-radius: 6px;
}
.voucher p {
  margin-block: 12px;
  font-size: 12px;
  font-weight: 700;
  color: #5e5e5e;
}
.voucher__update-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  border: none;
}
.voucher__update-cart span {
  font-size: 18px;
  font-weight: 700;
  color: #1996a9;
}

.footer {
  padding-top: 16px;
  color: #fff;
  background-color: #1996a9;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__top {
  margin-bottom: 12px;
  display: flex;
  gap: 40px;
}
.footer__left {
  flex-grow: 1;
}
.footer__left > div:first-child {
  justify-content: space-between;
}
.footer__right {
  flex: 0 0 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__right address {
  font-size: 16px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer__nav li,
.footer__nav a {
  font-weight: 700;
  font-size: 16px;
}
.footer__distributors {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer__distributors h3,
.footer__distributors li {
  font-size: 16px;
}
.footer__distributor {
  display: flex;
  gap: 15px;
}
.footer__distributor p {
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
}
.footer__dzala-copy {
  margin-bottom: 33px;
  display: flex;
  gap: 12px;
}
.footer__dzala-copy p {
  margin-top: 8px;
  font-size: 14px;
  text-align: right;
}
.footer__copy {
  margin-top: 58px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.footer__copy > *:not(:last-child) {
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
}
.footer__copy > *:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  font-weight: 400;
}
.footer__copy a {
  color: inherit;
  text-decoration: none;
}
.footer__bottom {
  display: flex;
}
.footer__bottom p {
  padding: 13px;
  background-color: #5e5e5e;
  font-size: 16px;
  color: #ffffff;
}
.footer__bottom a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 318px;
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}
.footer .news-badge + ul a {
  display: block;
  filter: drop-shadow(5px 5px 5px hsla(0deg, 0%, 0%, 0.5));
}

address {
  font-style: normal;
}

.container {
  width: min(100% - 2rem, 1312px);
  margin-inline: auto;
}

.hero__grid {
  position: relative;
  display: grid;
  grid-template-columns: 518px auto;
  gap: 40px;
  align-items: center;
}

.grid-even {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/*# sourceMappingURL=style.css.map */
